* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
}

.wrap {
  /* outline: auto; */
  width: 90%;
  max-width: 350px;
  margin: auto;
  text-align: center;
}
/* Group styles */

.section-2 p:nth-of-type(1),
.section-3 p:nth-of-type(1),
.section-5 p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1em;
  color: hsl(210, 10%, 33%);
}

.section-2 p:nth-of-type(2),
.section-3 p:nth-of-type(2),
.section-5 p:nth-of-type(2) {
  line-height: 25px;
  margin: 10px 0;
  padding: 0 1em;
  color: hsl(201, 11%, 66%);
}

.color-1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 5px 10px 20px hsla(171, 66%, 44%, 0.288);
  transition: all 150ms ease-in-out;
}

.color-1:hover,
.color-2:hover {
  transform: scale(1.03);
}

.color-2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 5px 10px 20px hsla(233, 100%, 69%, 0.288);
}

.wrap-1 button,
.section-5 button {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 0.7em 0;
  border-radius: 1.5em;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

/* Section 1 */

.logo {
  display: flex;
  height: 400px;
  background: url(./images/bg-header-mobile.png) no-repeat center bottom;
  background-size: cover;
  /* outline: auto; */
}

.logo img {
  margin: auto;
  width: 100px;
}

.section-1 > div:last-child {
  display: flex;
  flex-flow: column;
  height: 350px;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 70%,
    rgba(253, 253, 253, 0)
  );
  margin-top: -100px;
}

.wrap-1 {
  margin: auto;
  text-align: center;
}

.wrap-1 p:first-child {
  font-size: 1.5rem;
  padding: 0 1em;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

.wrap-1 p:nth-child(2),
.wrap-1 p:nth-child(3) {
  margin: 20px 0;
  line-height: 25px;
  font-size: 1.1rem;
  padding: 0 20px;
  color: hsl(201, 11%, 66%);
}

/* Section 2 */

.section-2 {
  margin: 100px 0;
}

.section-2 img {
  width: 100%;
  display: inline-block;
  margin: 50px 0;
}

.wrap-2 div:nth-of-type(2) {
  margin: 70px 0;
}

/* Section 3 */

.section-3 {
  margin: 100px 0;
}

.section-3 > img:nth-of-type(1) {
  width: 100%;
  display: inline-block;
  margin: 50px 0;
}

.section-3 p:nth-of-type(3) {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1em;
  color: hsl(210, 10%, 33%);
}

.section-3 p:nth-of-type(4) {
  line-height: 25px;
  margin: 10px 0;
  margin-bottom: 50px;
  padding: 0 1em;
  color: hsl(201, 11%, 66%);
}

.sub-sect-3 img {
  margin: 50px 0;
}

/* Section 4 */

.section-4 {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.section-4 img {
  margin: auto;
}

.section-4 img:nth-of-type(1) {
  width: 165px;
  height: 49px;
  object-fit: contain;
}
.section-4 img:nth-of-type(2) {
  width: 139px;
  height: 51px;
  object-fit: contain;
}
.section-4 img:nth-of-type(3) {
  width: 161px;
  height: 35px;
  object-fit: contain;
}
.section-4 img:nth-of-type(4) {
  width: 135px;
  height: 56px;
  object-fit: contain;
}
.section-4 img:nth-of-type(5) {
  width: 125px;
  height: 30px;
  object-fit: contain;
}

/* Section 5 */

.section-5 {
  margin: 150px 0;
}

/* Footer */

footer {
  background-color: hsl(220, 18%, 97%);
  text-align: center;
}

footer > img:nth-of-type(1) {
  width: 50px;
  height: 50px;
  margin: 50px 0;
  margin-bottom: 0;
}

footer div:nth-of-type(1) {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 200px;
  margin: 50px 0;
  font-size: 1.3rem;
}

footer a {
  color: hsl(210, 10%, 33%);
}

footer a:hover {
  color: hsl(233, 100%, 69%);
}

footer div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto 50px auto;
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .wrap {
    max-width: 1000px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  br {
    display: none;
  }

  .section-2 p:nth-of-type(1),
  .section-2 p:nth-of-type(2) {
    padding: 0;
  }

  .section-2 p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .wrap-1 button,
  .section-5 button {
    display: inline-block;
    padding: 0.7em 1em;
    margin: 0 20px;
    width: auto;
  }

  .sub-sect-2 {
    margin: 100px 0;
  }

  .sub-sect-2 img {
    grid-column: 1/7;
    width: 150%;
    height: 100%;
    margin: auto 0;
    object-fit: contain;
    position: relative;
    left: -70%;
  }

  .wrap-2 {
    text-align: left;
    grid-column: 7/-1;
    /* outline: auto; */
    margin: auto;
  }

  /* Section 3 */

  .sub-sect-3 {
    display: flex;
  }

  .sub-sect-3 img {
    margin-top: 0;
  }

  /* Section 4 */

  .section-4 {
    flex-flow: row;
    height: auto;
  }

  .section-5 p:nth-of-type(2),
  .section-1 p:nth-of-type(2) {
    width: 70ch;
    margin: 1em auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  footer > img:nth-of-type(1) {
    margin: auto;
    grid-column: 1/2;
  }

  footer div:nth-of-type(1) {
    display: grid;
    gap: 30px;
    margin: auto;
    flex-flow: row;
    grid-column: 2/3;
    width: 100%;
    text-align: left;
  }

  footer div:nth-of-type(1) a {
    margin-bottom: 0;
  }

  footer div:nth-of-type(1) a:nth-child(4),
  footer div:nth-of-type(1) a:nth-child(2) {
    margin-top: 0;
  }

  footer div:nth-of-type(1) a:nth-child(1) {
    grid-column: 1/5;
  }

  footer div:nth-of-type(1) a:nth-child(2) {
    grid-column: 1/5;
    grid-row: 2;
  }

  footer div:nth-of-type(1) a:nth-child(3) {
    grid-column: 5/9;
  }

  footer div:nth-of-type(1) a:nth-child(4) {
    grid-column: 5/9;
    grid-row: 2;
  }

  footer div:nth-of-type(1) a:nth-child(5) {
    grid-column: 9/-1;
  }

  footer div:nth-of-type(2) {
    grid-column: 3/-1;
    margin: auto;
    width: 100px;
  }

  footer div:nth-of-type(2) img {
    height: 25px;
    /* outline: auto; */
  }

  footer a {
    margin: auto 0;
  }
}

.black {
  background-color: black;
}

.hide-para {
  display: none;
}

.load {
  width: 0;
  height: 10px;
  background: teal;
  position: fixed;
}

.wrap-1 {
  word-wrap: break-word;
  /* outline: auto; */
  max-width: 600px;
}
