@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;0,800;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.container {
  /* background: pink; */
  width: 100;
}

hr {
  margin: 20px 0;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-flow: column;
  background: linear-gradient(180deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  height: 100vh;
  border-bottom-left-radius: 70px;
  text-align: center;
  color: white;
  /* outline: auto; */
  /* background-size: contain; */
}

.header-content {
  margin: auto 0;
  /* outline: auto; */
}

.header-content p {
  font-size: 1.3rem;
  font-weight: normal;
}

.header-btn {
  width: 120px;
  padding: 0.7rem 0.5rem;
  margin: 30px 0;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.header-btn:nth-of-type(1) {
  color: hsl(353, 100%, 62%);
  margin-right: 10px;
}

.header-btn:nth-of-type(2) {
  background: none;
  border: 1px solid white;
  color: white;
  margin-left: 10px;
}

h1 {
  padding: 0 2rem;
  margin: 20px 0;

  /* outline: auto; */
}

h2,
h3 {
  color: hsl(208, 49%, 24%);
  margin: 30px 0;
}

nav {
  display: flex;
  padding: 50px 5%;
}

nav img {
  width: 70px;
  height: 30px;
}

.desk-nav {
  display: none;
}

/* Menu Items */

.ham-icon {
  cursor: pointer;
  width: auto;
  height: 20px;
  margin-left: auto;
  /* display: none; */
  padding-right: 5%;
  position: absolute;
  right: 0;

  z-index: unset;
  transition: all 300ms ease-in;
}

.close-icon {
  cursor: pointer;
  width: auto;
  height: 20px;
  margin-left: auto;
  padding-right: 5%;
  position: absolute;
  right: 0;
  opacity: 0;

  z-index: -1000;
  transition: all 300ms ease-in;
}

.mobile-nav {
  position: absolute;
  display: flex;
  opacity: 0;
  z-index: -1000;
  flex-flow: column;
  justify-content: space-around;
  background: white;
  width: 90%;
  height: fit-content;
  min-height: 400px;
  text-align: center;
  left: 50%;
  top: 0;
  transform: translate(-50%, 200px);
  border-radius: 5px;
  padding: 30px;

  transition: all 300ms ease-in-out;
}

/* Menu Items */

.menu-items {
  margin: 10px 0;
  border-radius: 5px;
  background-color: hsl(240, 2%, 79%);
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: -1000%;
  /* display: none; */

  transform: translateY(20px);
  transition: all 300ms ease-out;
}

.menu-item {
  margin: 10px 0;
}

.menu-item a {
  color: hsl(208, 49%, 24%);
  font-size: 1rem;
  cursor: pointer;
}

.nav-btn {
  width: 150px;
  margin: 5px auto;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
}

.nav-login {
  background: none;
  color: hsl(208, 49%, 24%);
}

.nav-sign-up {
  padding: 0.8rem;
  border-radius: 30px;
  color: white;
  background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.menu-head {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(208, 49%, 24%);
  margin: 0;
  cursor: pointer;
  margin: 5px 0;
}

/* Section 1 */

.sect-1 {
  background: white;
  padding: 100px 5%;
  text-align: center;
  /* overflow-x: hidden; */
  height: fit-content;
}

.sect-1 h2 {
  font-size: 1.8rem;
  margin: 30px 0;
}

img {
  width: 100%;
}

.sect-1-img {
  background: url(./images/illustration-editor-mobile.svg) no-repeat 50%;
  background-size: contain;
  height: 300px;
  margin-top: 100px;
}

.sect-1 h3 {
  font-size: 2rem;
  font-weight: normal;
}

.sect-1 article,
.sect-3 article {
  color: hsl(207, 13%, 34%);
}

/* Section 2 */

.sect-2 {
  /* display: flex;
  flex-flow: column; */
  outline: auto;
  background: url(./images/bg-pattern-circles.svg) no-repeat 50%;
  background-color: hsl(237, 17%, 21%);
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 250px 5%;
  padding-bottom: 150px;
  margin-top: 100px;
  border-bottom-left-radius: 70px;
}

.sect-2 h2 {
  color: white;
  font-weight: normal;
  font-size: 2rem;
}

.sect-2-img {
  background: url(./images/illustration-phones.svg) no-repeat 50%;
  background-size: contain;
  height: 400px;
  width: 100%;
  /* outline: 2px solid black; */
  left: 50%;
  top: -70px;
  transform: translate(-50%, -50%);
  margin-top: 100px;

  position: absolute;
}

.sect-2-content {
  margin: auto;
  /* outline: auto; */
}

.sect-2-content article {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: lighter;
}

/* Section 3 */

.sect-3 {
  position: relative;
  padding: 100px 5%;
  min-height: 100vh;
  padding-top: 50px;
  /* outline: auto; */
  overflow: hidden;
  text-align: center;
}

.sect-3-img {
  background: url(./images/illustration-laptop-mobile.svg) no-repeat 50%;
  background-size: contain;
  width: 140%;
  height: 500px;
  left: -20%;
  top: 0;
  /* outline: auto; */
  position: relative;
}

.sect-3 h2 {
  font-size: 2rem;
  font-weight: normal;
}

/* Footer */
footer {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 20px;
  background: hsl(237, 17%, 21%);
  border-top-right-radius: 70px;
}

.footer-logo {
  background: url(./images/logo.svg) no-repeat 50%;
  width: 100%;
  height: 50px;
  /* outline: auto; */
  margin-bottom: 50px;
}

.menu-wrap a {
  color: hsl(240, 2%, 79%);
}

.menu-wrap {
  margin: 50px;
}

.footer-menu-head {
  color: white;
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  /* Navigation */

  header {
    min-height: 500px;
    height: 100vh;
  }

  .desk-nav {
    display: flex;
    /* outline: auto; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .desk-nav-menu {
    display: flex;
    justify-content: space-around;
    width: 35%;
    max-width: 500px;
    position: relative;
    /* outline: auto; */
  }

  .desk-nav-btn {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /* outline: 2px solid black; */
  }

  .menu-items-desk {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 150px;
    border-radius: 5px;
    text-align: left;
    padding: 0 10px;
    background: white;

    /* Animation styles */
    transform: translateY(-20px);
    transition: all 100ms ease-out;
  }

  .nav-btn,
  .ham-icon {
    display: none;
  }

  nav {
    padding-left: 5%;
    padding-right: 5%;
    /* outline: auto; */
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu-head {
    color: white;
    cursor: pointer;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .menu-head:hover {
    text-decoration: underline;
  }

  .nav-btn-desk {
    width: 120px;
    padding: 0.7rem 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
  }

  .nav-btn-desk:nth-of-type(1) {
    color: white;
    background: none;
    border: none;
    width: fit-content;
  }
  .nav-btn-desk:nth-of-type(2) {
    position: relative;
    color: hsl(13, 100%, 72%);
    background: white;
    border: none;
  }

  h1 {
    font-size: 3rem;
  }

  /* Section 1 */

  .sect-1-img {
    background: url(./images/illustration-editor-desktop.svg) no-repeat 50%;
    background-size: contain;
    grid-column: 7/-1;
    grid-row: 1/2;
    width: 130%;
    height: 130%;
    position: relative;

    margin: 0;
    /* outline: 2px solid crimson; */
  }

  .sect-1C--wrap {
    grid-column: 1/7;
    grid-row: 1/2;
    text-align: left;
  }

  #s1wrap {
    /* margin-top: 10px; */
  }

  /* Section 2 */

  .sect-2 {
    padding: 0 5%;
    height: 300px;
    outline: auto;
    border-top-right-radius: 70px;
  }
  .sect-2-img {
    background: url(./images/illustration-phones.svg) no-repeat 50%;
    background-size: contain;
    grid-column: 1/7;
    grid-row: 1/2;
    margin: 0;
    width: 100%;
    height: 150%;
    position: absolute;
    left: 0;
    top: -25%;
    transform: translate(0, 0);
    /* outline: 2px solid crimson; */
    /* transform: scale(1.3); */
  }

  .sect-2-content {
    grid-column: 7/-1;
    grid-row: 1/2;
    text-align: left;
    margin: auto 0;
  }

  /* Section 3 */

  .sect-3 {
    margin: 200px 0;
    padding: 0 5%;
    /* outline: auto; */
    overflow: unset;
    min-height: 100px;
  }

  .sect-3-img {
    background: url(./images/illustration-laptop-desktop.svg) no-repeat right;
    background-size: contain;
    grid-column: 1/7;
    grid-row: 1/2;
    width: 200%;
    height: 200%;
    position: relative;
    top: -50%;
    left: -95%;
    /* outline: 3px solid crimson; */
  }

  .sect-3C--wrap {
    grid-column: 7/-1;
    grid-row: 1/2;
    text-align: left;
    margin: auto 0;
  }

  /* Footer */
  footer {
    text-align: left;
  }

  .footer-logo {
    grid-column: 1/4;
  }

  .menu-wrap {
    margin-top: 0;
  }

  .menu-wrap:nth-of-type(2) {
    grid-column: 4/7;
  }
  .menu-wrap:nth-of-type(3) {
    grid-column: 7/10;
  }

  .menu-wrap:nth-of-type(1) {
    grid-column: 4/7;
    display: none;
  }

  /* .desk-menu-wrap {
    position: relative;
    outline: auto;
  } */
}

/* JavaScript Classes */

.hide-ham-icon {
  opacity: 0;
  z-index: -1000;
}

.show-close-icon {
  opacity: 1;
  z-index: unset;
}

.show-mobile-nav {
  /* display: flex; */
  opacity: 1;
  z-index: unset;
  transform: translate(-50%, 100px);
}

.show-menu-items {
  opacity: 1;
  display: block;
  position: relative;
  transform: translateY(0);
  z-index: 10;
}

.show-menu-items-desk {
  z-index: 1;
  opacity: 1;
  position: absolute;

  /* Animation */
  transform: translateY(0);
}
